.carousel-container {
  position: relative;
}

.slideimg {
  position: relative;
  overflow: hidden; /* Ensures the images are cropped to fit the container */
}

.slideimg img {
  width: 100%; /* Ensures the images take the full width of the container */
  height: 90vh; /* Forces the images to take the full height of the container */
  object-fit: cover; /* Ensures that the images maintain their aspect ratio while filling the container */
}

.hometext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* You can adjust the color */
  z-index: 10; /* Ensures the text is above the images */
}

.hometext h1 {
  font-size: 3.5rem; /* Adjust as needed */
  font-weight: bold;
}

.hometext i {
  font-size: 1.5rem; /* Adjust as needed */
  font-style: italic;
}
